@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

.login-page {
  font-family: 'Pretendard-Regular', sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.login-container {
  text-align: center;
  max-width: 320px;
  width: 100%;
  margin-top: 100px;
}

.login-container .logo {
  width: 120px;
  margin-bottom: 20px;
}

.signup-link {
  font-size: 14px;
  color: #5c5c5c;
  margin-bottom: 40px;
}

.signup-link a {
  color: #91bbff;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-form input {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'Pretendard-Regular', sans-serif;
}

.login-form input:focus {
  outline: none;
  border-color: #91bbff;
}

.login-form button {
  padding: 14px;
  background-color: #cebeff;
  color: #fff;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
  font-weight: 600;
  font-family: 'Pretendard-Regular', sans-serif;
}

.login-form button:hover {
  background-color: #bbaaf5;
}

.password-reset {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}

.reset-link {
  font-size: 13px;
  color: #5c5c5c;
  text-decoration: none;
}

.reset-link:hover {
  text-decoration: underline;
}
